div.container {
    margin-bottom: 32px;
}

#loading {
    position:absolute;
    top:50%;
    right:50%
}

body {
    background-color: #fcfcfc;
}

.caret {
    right: auto !important;
    left: 0;
}

.dropdown-content {
    padding-inline-start: 0;
}

.select-wrapper {
    margin-inline-start: -12px;
    width:100%;
}

li span, form div div, form div div label {
    float: right !important;
    right: 0.75rem;
}