<mat-spinner *ngIf="polls == null || polls.length == 0"></mat-spinner>
<form *ngIf="polls != null && polls.length != 0">
  <mat-form-field>
    <mat-select placeholder="סקר" [(ngModel)]="selectedPollId" name="poll_selection">
      <mat-option *ngFor="let poll of polls" [value]="poll._id">{{poll.name}} {{getMonthView(poll.month)}}/{{poll.year}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedPoll != null">
    <mat-form-field>
      <input class="member-name" [matAutocomplete]="auto" [(ngModel)]="selectedUserName" name="username" placeholder="שם מלא" matInput>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of userNames" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div *ngIf="selectedUserAssignments != null">
      <h1>המשמרות כבר כאן:</h1>
      <h2 dir="ltr" style="text-align: right" *ngFor="let item of selectedUserAssignments.assignments">{{item.time}}</h2>
      <h2 dir="ltr" style="text-align: right" *ngIf="selectedUserAssignments.assignments.length == 0">לא שובצת החודש</h2>
    </div>
    <app-poll [poll]="selectedPoll.shifts"></app-poll>
    <button *ngIf="!selectedUserName" mat-raised-button disabled>אישור</button>
    <button *ngIf="selectedUserName" mat-raised-button id="submit" color="primary" type="button" (click)="saveUserPreference()">אישור</button>
  </div>
</form>