span.sapcer {
    flex: 1 1 auto;
}
div.container {
    max-width: 940px;
    margin:auto;
    padding-bottom: 32px;
}
@media screen and (max-width: 480px) {
    div.container {
        padding-right: 32px;
    }
}