<form>
  <div class="container">
    <mat-form-field>
      <input type="text" id="poll-name" [(ngModel)]="pollName" name="unknown" matInput placeholder="שם סקר">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedMonth" name="month" placeholder="חודש">
        <mat-option *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="item - 1">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedYear" name="year" placeholder="שנה">
        <mat-option [value]="currentYear">{{currentYear}}</mat-option>
        <mat-option [value]="currentYear + 1">{{currentYear + 1}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf="!(this.selectedMonth != undefined && this.selectedYear && this.pollName)" mat-raised-button disabled type="button">יאללה!</button>
    <button *ngIf="this.selectedMonth != undefined && this.selectedYear && this.pollName" mat-raised-button type="button" id="submit" color="primary" (click)="createPoll()">יאללה!</button>
  </div>
  <app-poll *ngIf="poll" [poll]="poll" [managerMode]="true"></app-poll>
  <div *ngIf="poll">
    <button mat-raised-button type="button" id="publish" color="primary" (click)="publishPoll()">פרסום</button>
  </div>
</form>