th {
    text-align: right;
    margin-bottom: 8px;    
}

td {
    text-align: right;
    vertical-align: top;
}
.option-checkbox {
    margin-bottom: 4px;
}
.table-container {
    display: inline-block;
    margin: 16px;   
    width:40%
}
.submit-container {
    display: block;
    float: left;
    margin-top: 2em;
}