th {
    text-align: right;
}

td {
    text-align: right;
    vertical-align: top;
}

.checkbox-container {
    margin-bottom: 8px;
}

td .mat-form-field {
    width: 80%;
    text-align: center;
}
@media screen and (max-width: 480px) {
    th {
        display: none;
    }
    tr {
        display: table;
    }
    td {
        display: table-row;
    }
}