<table class="highlight" style="width:100%">
  <thead>
    <tr>
      <th *ngFor="let i of ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת']">{{i}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of poll">
      <td *ngFor="let day of week" style="width:14.2%">
        <h2>{{day.date}}</h2>
        <div *ngFor="let shift of day.shifts">
          <div *ngIf="managerMode" matTooltip="{{shift.remark}}">
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="shift.time" style="width:70%;" (blur)="checkTextInput(day, shift)" (keyup.enter)="checkTextInput(day, shift)" />
            </mat-form-field>
            <a href="javascript:void(0)" (click)="openRemarkDialog(shift)" class="poll-shift-button">
              <i class="material-icons">comment</i>
            </a>
          </div>
          <div class="checkbox-container" *ngIf="!managerMode">
            <mat-checkbox matTooltip="{{shift.remark}}" (change)="onShiftChange(shift)" [(indeterminate)]="shift.isIndeterminate" (click)="onShiftClick(shift)" [(ngModel)]="shift.isSelected" [id]="day.date + '-' + shift.time" color="warn">{{shift.time}}</mat-checkbox>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>